In [19]:
# to check give number is prime or not

a = int(input('Enter number here : '))
for i in range (2,a):
    b = a%i
    if(a%i==0):
        print(f'{a} is composite number')
        break
else:
    print(f'{a} is prime number')

Enter number here : 43
43 is prime number

In [20]:
#Q.2. fibonacci series

def fibonacci(num):
    first  = 0
    second = 1
    print(f'Fibonacci series of {num} is ',first, second,end =' ')
    for i in range(0,num-2):
        new = first + second
        first = second
        second = new
        print(new,end = ' ')
    print('\n')
    print(f'Fibonacci of {num} is',new)        
fibonacci(5)

Fibonacci series of 5 is  0 1 1 2 3

Fibonacci of 5 is 3

In [34]:
# Q.3 Python program to swap two variables

# To take inputs from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 5
Enter value of y: 10
The value of x after swapping: 10
The value of y after swapping: 5

In [37]:
# Q.4 Python program to square root of given number

num = int(input())

import numpy as np

square_root = np.sqrt(num)

print(f'square root of given number {num} is', square_root)

25
square root of given number 25 is 5.0

In [42]:
# Q.5 Print zeroes with 2 rows & 3 columns

zeros = np.zeros((2,3), dtype = int)
zeros

array([[0, 0, 0],
       [0, 0, 0]])

In [44]:
# Q.6 Create pandas data frame using list of lists

import pandas as pd

listoflists = [[1,2,3,4,5,6],['p','y','t','h','o','n']]
df = pd.DataFrame(listoflists)
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  p  y  t  h  o  n

In [24]:
l1 = []
for i in range(1,6):
    i*=12
    print(i)
    l1.append(i)
sum(l1)

12
24
36
48
60

180

In [26]:
0.25/4

0.0625

In [27]:
625**0.0625

1.4953487812212205

In [28]:
5**1/4 * 125**0.25

4.179626906102637

In [29]:
import numpy as np

In [31]:
5**np.sqrt(5)

36.554802677473226

In [32]:
125**0.25

3.34370152488211

In [33]:
5**0.25

1.4953487812212205

In [ ]:
125**