In [1]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}}

In [6]:
sample_dict['emp3']['name']= 'SAURABH','POMAN'
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': ('SAURABH', 'POMAN'), 'salary': 500}}

In [11]:
list1 = [10,20,40,32,45,6,7,3,2,1,3,10,20]
sume = 0
for i in list1:
    sume+=i
print(sume)
print('*************')
sum(list1)

199
*************

199

In [3]:
set1 = set(list1)
print(set1, len(set1))
print(type(set1))

{32, 1, 2, 3, 6, 7, 40, 10, 45, 20} 10
<class 'set'>

In [21]:
list1 = [10,20,40,32,45,6,7,3,2,1,3,10,20]
x=set(list1)
print(x)

{32, 1, 2, 3, 6, 7, 40, 10, 45, 20}

In [14]:
list1 = {10,20,40,32,45,6,7,3,2,1,3,10,20}
list1

{1, 2, 3, 6, 7, 10, 20, 32, 40, 45}

In [5]:
list1 = [10,20,40,32,45,6,7,3,2,1,3,10,20]
sum1 = 0
for items in list1:
    sum1+=items
print(sum1)
print('$$$$$$$$$$$')
sum(list1)

199
$$$$$$$$$$$

199

In [9]:
set2 = {1,2,3,4,5,6,7,8}
set3 = {2,4,6,8,10}
set2.intersection(set3)

{2, 4, 6, 8}

In [10]:
set2.symmetric_difference(set3)

{1, 3, 5, 7, 10}